<h4 class="header">Basic Checkbox</h4>

<div class="content">

  <div class="row">

    <div class="demo">
      <p-checkbox>
          Default
      </p-checkbox>
    </div>

    <div class="code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox>
  Default
</p-checkbox>
          </textarea>
    </div>

  </div>




  <div class="row">

    <div class="demo">
      <p-checkbox stroke="fill">
          Fill
      </p-checkbox>
    </div>

    <div class="code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox stroke="fill">
  Fill
</p-checkbox>
          </textarea>
    </div>

  </div>






  <div class="row">

    <div class="demo">
        <p-checkbox stroke="thick">
            Thick
        </p-checkbox>
    </div>

    <div class="code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox stroke="thick">
    Fill
</p-checkbox>
          </textarea>
    </div>

  </div>