<h4 class="content__header">API - Checkbox will-change</h4>

<div class="content__body">

  <div class="content__row flex__column">
    <h5 class="content__sub-header">NgxPrettyCheckboxWillChangeComponent</h5>
    <span class="content__text">selector: <span class="code__highlight">ngx-pretty-checkbox[will-change], p-checkbox[will-change]</span></span>
    <span class="content__text">exportAs: <span class="code__highlight">ngxPrettyCheckboxWillChange</span></span>
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- CHECKED -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">checked: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- TODO: ... -->
              <!-- <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>


      <!-- DISABLE -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">disabled: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- TODO: ... -->
              <!-- <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>


      

      <!-- LOCK -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">lock: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>


      <!-- VALUE -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">value: any</p>
        </td>

        <td>
            <p class="table__description">
                <!-- TODO: ... -->
              <!-- <span class="table__text--code"></span> -->
            </p>
        </td>
      </tr>
      

      <!-- STROKE -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">stroke: PrettyCheckboxStroke</p>
        </td>

        <td>
            <p class="table__description">
                <!-- TODO: ... -->
              <!-- <span class="table__text--code"></span> -->
            </p>
        </td>
      </tr>
      

      <!-- SHAPE -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">shape: PrettyCheckboxShape</p>
        </td>

        <td>
            <p class="table__description">
              <!-- <span class="table__text--code"></span> -->
            </p>
        </td>
      </tr>


      <!-- COLOR  -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">color: PrettyCheckboxColor</p>
        </td>

        <td>
            <p class="table__description">
              <!-- <span class="table__text--code"></span> -->
            </p>
        </td>
      </tr>
      

      <!-- ANIMATION -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">animation: PrettyCheckboxAnimation</p>
        </td>

        <td>
            <p class="table__description">
              
              <!-- <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
        </td>
      </tr>
      

      <!-- IS SWITCH -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">isSwitch: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>
      

      <!-- BIGGER -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">bigger: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>
      

      <!-- ENABLE FOCUS -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">enableFocus: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>
      

      <!-- PLAIN -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">private plain: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>
      

      <!-- OUTLINE -->
      <tr>
        <td>
          <p class="table__text">@Input()</p>
          <p class="table__text">outline: boolean</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
            <p class="table__description">
              Default value: <span class="table__text--code">false</span>
            <p>
        </td>
      </tr>


      <!-- Change -->
      <tr>
        <td>
          <p class="table__text">@Output()</p>
          <p class="table__text">change: EventEmitter&lt;PrettyCheckBoxChange&gt;</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
        </td>
      </tr>




    </table>
    
  </div>
</div>


<!-- TODO: setIndeterminate -->