<div class="content__method">
  <div class="content__method--header">setIndeterminate</div>
  <div class="content__method--description">
      In addition to the checked and unchecked states,
      there is a third state a checkbox can be in:
      <span class="table__text--code">indeterminate</span>.
      This is a state in which it's impossible to say whether the item is toggled on or off.
      This is set using the HTMLInputElement object's indeterminate property via JavaScript (it cannot be set using an HTML attribute)
  </div>
</div>