<h4 class="content__header">Disable</h4>

<div class="content__body">

  <!-- Checked -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="success" checked="true" disabled="true">
        <i p-icon class="material-icons">done</i>
        Checked
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="success" checked="true" disabled="true">
  <i p-icon class="material-icons">done</i>
  Checked
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Not Checked -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" disabled="true">
        Not Checked
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" disabled="true">
    Not Checked
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>