<!-- All Feature -->
<app-card title="All Feature" (click)="goToDemoCheckbox(DemoRadioRouteName.All)">
  All feature together and change it run time
</app-card>

<!-- Basic -->
<app-card title="Basic" (click)="goToDemoCheckbox(DemoRadioRouteName.Basic)">
  These are simple radio button with three shape
</app-card>

<!-- Switch -->
<app-card title="Switch" (click)="goToDemoCheckbox(DemoRadioRouteName.Switch)">
  IOS style
</app-card>

<!-- Animations -->
<app-card title="Animations" (click)="goToDemoCheckbox(DemoRadioRouteName.Animations)">
  There are five pure css animation
</app-card>

<!-- Color -->
<app-card title="Color" (click)="goToDemoCheckbox(DemoRadioRouteName.Color)">
  There are five colors
    <br>
    <span class="color-preview primary"></span>
    <span class="color-preview success"></span>
    <span class="color-preview warning"></span>
    <span class="color-preview info"></span>
    <span class="color-preview danger"></span>
</app-card>

<!-- Color Outline Icon -->
<app-card title="Color Outline Icon" (click)="goToDemoCheckbox(DemoRadioRouteName.ColorOutlineIcon)">
  Mixed radio config: color with icon and outline
</app-card>

<!-- Color Icon -->
<app-card title="Color Icon" (click)="goToDemoCheckbox(DemoRadioRouteName.ColorIcon)">
  Mixed radio config: color with icon
</app-card>

<!-- Plain -->
<app-card title="Plain" (click)="goToDemoCheckbox(DemoRadioRouteName.Plain)">
  To remove the border (when checkbox is checked)
</app-card>
