<h4 class="content__header">API - Interfaces</h4>

<div class="content__body">


  <!-- PrettyCheckBoxChange -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckBoxChange</h5>
    <span class="content__text">Description Description Description Description Description Description</span>
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- checked -->
      <tr>
        <td>
          <p class="table__text">checked: boolean</p>
        </td>

        <td>
            <p class="table__description">
              fill Description
            </p>
        </td>
      </tr>


      <!-- value -->
      <tr>
        <td>
          <p class="table__text">value: string</p>
        </td>

        <td>
            <p class="table__description">
              Thick Description
            </p>
        </td>
      </tr>


      <!-- event -->
      <tr>
        <td>
          <p class="table__text">event</p>
        </td>

        <td>
            <p class="table__description">
              Slim Description
            </p>
        </td>
      </tr>

    </table>
    
  </div>




  <!-- PrettyRadioChange -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyRadioChange</h5>
    <span class="content__text">Description Description Description Description Description Description</span>
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- checked -->
      <tr>
        <td>
          <p class="table__text">checked: boolean</p>
        </td>

        <td>
            <p class="table__description">
              Curve Description
            </p>
        </td>
      </tr>


      <!-- value -->
      <tr>
        <td>
          <p class="table__text">value: string</p>
        </td>

        <td>
            <p class="table__description">
              Round Description
            </p>
        </td>
      </tr>


      <!-- event -->
      <tr>
        <td>
          <p class="table__text">event: Event</p>
        </td>

        <td>
            <p class="table__description">
              event Description
            </p>
        </td>
      </tr>

    </table>
    
  </div>


</div>
