<h4 class="content__header">Checkbox : Size</h4>

<div class="content__body">

  <!-- Done -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="info" animation="jelly" bigger="true">
        <i p-icon class="material-icons">done</i>
        Done
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="info" animation="jelly" bigger="true">
  <i p-icon class="material-icons">done</i>
  Done
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Clear -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="danger" animation="smooth" bigger="true">
          Clear
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger" animation="smooth" bigger="true">
    Clear
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>
