<h4 class="content__header">Switch</h4>

<div class="content__body">

  <!-- Default -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true">
          Default
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true">
  Default
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true" stroke="fill">
          Fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" stroke="fill">
  Fill
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Slim -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox isSwitch="true" stroke="slim">
          Slim
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" stroke="slim">
  Slim
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>



<h5 class="content__header--secondary">Run-Time change</h5>

<div class="content__body">

  <!-- run-time -->
  <div class="content__row">

    <div class="content__demo flex__column">
      
      <div class="content__demo--action">
        <span class="content__demo--action-text">Stroke:</span>
        <select [(ngModel)]="stroke">
          <option>Default - Outline</option>
          <option value="fill">Fill</option>
          <option value="slim">Slim</option>
        </select>
      </div>

      <p-checkbox will-change isSwitch="true" [stroke]="stroke">
          Run-time changeable
      </p-checkbox>
      
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox will-change isSwitch="true" [stroke]="stroke">
    Label text
</p-checkbox>
          </textarea>

          <textarea highlight-js [options]="{}" lang="typescript">
@Component({ ... })
export class ... {
  stroke: PrettyCheckboxStroke;
}
          </textarea>
    </div>

  </div>

</div>