<h4 class="content__header">API - Enums</h4>

<div class="content__body">


  <!-- PrettyCheckboxStroke -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckboxStroke</h5>
    <!-- <span class="content__text">Description Description Description Description Description Description</span> -->
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- Fill -->
      <tr>
        <td>
          <p class="table__text">Fill</p>
        </td>

        <td>
            <p class="table__description">
              <!-- fill Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">fill</span>
            <p>
        </td>
      </tr>


      <!-- Thick -->
      <tr>
        <td>
          <p class="table__text">Thick</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Thick Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">thick</span>
            <p>
        </td>
      </tr>


      <!-- Slim -->
      <tr>
        <td>
          <p class="table__text">Slim</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Slim Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">slim</span>
            <p>
        </td>
      </tr>

    </table>
    
  </div>




  <!-- PrettyCheckboxShape -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckboxShape</h5>
    <!-- <span class="content__text">Description Description Description Description Description Description</span> -->
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- Fill -->
      <tr>
        <td>
          <p class="table__text">Curve</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Curve Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">curve</span>
            <p>
        </td>
      </tr>


      <!-- Round -->
      <tr>
        <td>
          <p class="table__text">Round</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Round Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">round</span>
            <p>
        </td>
      </tr>

    </table>
    
  </div>




  <!-- PrettyCheckboxColor -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckboxColor</h5>
    <!-- <span class="content__text">Description Description Description Description Description Description</span> -->
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- Primary -->
      <tr>
        <td>
          <p class="table__text">Primary</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Primary Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">primary</span>
            <p>
        </td>
      </tr>


      <!-- Success -->
      <tr>
        <td>
          <p class="table__text">Success</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Success Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">success</span>
            <p>
        </td>
      </tr>


      <!-- Info -->
      <tr>
        <td>
          <p class="table__text">Info</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Info Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">info</span>
            <p>
        </td>
      </tr>


      <!-- Warning -->
      <tr>
        <td>
          <p class="table__text">Warning</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Warning Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">warning</span>
            <p>
        </td>
      </tr>


      <!-- Danger -->
      <tr>
        <td>
          <p class="table__text">Danger</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Danger Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">danger</span>
            <p>
        </td>
      </tr>

    </table>
    
  </div>




  <!-- PrettyCheckboxAnimation -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckboxAnimation</h5>
    <!-- <span class="content__text">Description Description Description Description Description Description</span> -->
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- Smooth -->
      <tr>
        <td>
          <p class="table__text">Smooth</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Smooth Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">smooth</span>
            <p>
        </td>
      </tr>


      <!-- Jelly -->
      <tr>
        <td>
          <p class="table__text">Jelly</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Jelly Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">jelly</span>
            <p>
        </td>
      </tr>


      <!-- Tada -->
      <tr>
        <td>
          <p class="table__text">Tada</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Tada Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">tada</span>
            <p>
        </td>
      </tr>


      <!-- Rotate -->
      <tr>
        <td>
          <p class="table__text">Rotate</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Rotate Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">rotate</span>
            <p>
        </td>
      </tr>


      <!-- Pulse -->
      <tr>
        <td>
          <p class="table__text">Pulse</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Pulse Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">pulse</span>
            <p>
        </td>
      </tr>

    </table>
    
  </div>



  <!-- PrettyCheckBoxToggleType -->
  <div class="content__row flex__column">
    <h5 class="content__sub-header">PrettyCheckBoxToggleType</h5>
    <!-- <span class="content__text">Description Description Description Description Description Description</span> -->
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- ON -->
      <tr>
        <td>
          <p class="table__text">On</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Smooth Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">on</span>
            <p>
        </td>
      </tr>


      <!-- OFF -->
      <tr>
        <td>
          <p class="table__text">Off</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Jelly Description -->
            </p>
            <p class="table__description">
              Value: <span class="table__text--code">off</span>
            <p>
        </td>
      </tr>

    </table>
    
  </div>




</div>
