<h4 class="content__header">Radio : Animations</h4>

<div class="content__body">

  <!-- Color -->
  <div class="content__row">

    <div class="content__demo">

          <p-radio name="animation" outline="true" shape="curve" color="primary" animation="tada">
            <i p-icon class="material-icons">done</i>
            New York
          </p-radio>

          <p-radio name="animation" outline="true" shape="curve" color="success" animation="rotate">
            <i p-icon class="material-icons">done</i>
            Paris
          </p-radio>

          <p-radio name="animation" outline="true" shape="curve" color="info" animation="pulse">
            <i p-icon class="material-icons">done</i>
            Dubai
          </p-radio>

          <p-radio name="animation" shape="curve" color="warning" animation="jelly">
            <i p-icon class="material-icons">done</i>
            Tokyo
          </p-radio>

          <p-radio name="animation" outline="true" shape="curve" color="danger" animation="smooth">
            <i p-icon class="material-icons">done</i>
            Istanbul
          </p-radio>

    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio name="animation" outline="true shape="curve" color="primary" animation="tada">
    <i p-icon class="material-icons">done</i>
    New York
</p-radio>

<p-radio name="animation" outline="true" shape="curve" color="success" animation="rotate">
  <i p-icon class="material-icons">done</i>
  Paris
</p-radio>

<p-radio name="animation" outline="true" shape="curve" color="info" animation="pulse">
  <i p-icon class="material-icons">done</i>
  Dubai
</p-radio>

<p-radio name="animation" shape="curve" color="warning" animation="jelly">
  <i p-icon class="material-icons">done</i>
  Tokyo
</p-radio>

<p-radio name="animation" outline="true" shape="curve" color="danger" animation="smooth">
  <i p-icon class="material-icons">done</i>
  Istanbul
</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>

  <p-radio name="animation" outline="true shape="curve" color="primary" animation="tada">
      <i p-icon class="material-icons">done</i>
      New York
  </p-radio>

  <p-radio name="animation" outline="true" shape="curve" color="success" animation="rotate">
    <i p-icon class="material-icons">done</i>
    Paris
  </p-radio>

  <p-radio name="animation" outline="true" shape="curve" color="info" animation="pulse">
    <i p-icon class="material-icons">done</i>
    Dubai
  </p-radio>

  <p-radio name="animation" shape="curve" color="warning" animation="jelly">
    <i p-icon class="material-icons">done</i>
    Tokyo
  </p-radio>

  <p-radio name="animation" outline="true" shape="curve" color="danger" animation="smooth">
    <i p-icon class="material-icons">done</i>
    Istanbul
  </p-radio>

</p-radio-group>

      </textarea>
    </div>

  </div>

</div>
