<h4 class="content__header">Radio : Outline and Icons</h4>

<div class="content__body">

  <!-- Color -->
  <div class="content__row">

    <div class="content__demo content__demo--justify-start">

          <p-radio class="content__demo--radio" name="outline" outline="true" shape="round" color="primary">
            <i p-icon class="material-icons">done</i>
            Dollar
          </p-radio>

          <p-radio class="content__demo--radio" name="outline" outline="true" shape="round" color="success">
            <i p-icon class="material-icons">done</i>
            Euro
          </p-radio>

          <p-radio class="content__demo--radio" name="outline" outline="true" shape="round" color="info">
            <i p-icon class="material-icons">done</i>
            Dinar
          </p-radio>

          <p-radio class="content__demo--radio" name="outline" outline="true" shape="round" color="warning">
            <i p-icon class="material-icons">done</i>
            Pound
          </p-radio>

          <p-radio class="content__demo--radio" name="outline" outline="true" shape="round" color="danger">
            <i p-icon class="material-icons">done</i>
            Rupee
          </p-radio>

    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio name="outline" outline="true" shape="round" color="primary">
    <i p-icon class="material-icons">done</i>
    Dollar
</p-radio>

<p-radio name="outline" outline="true" shape="round" color="success">
  <i p-icon class="material-icons">done</i>
  Euro
</p-radio>

<p-radio name="outline" outline="true" shape="round" color="info">
  <i p-icon class="material-icons">done</i>
  Dinar
</p-radio>

<p-radio name="outline" outline="true" shape="round" color="warning">
  <i p-icon class="material-icons">done</i>
  Pound
</p-radio>

<p-radio name="outline" outline="true" shape="round" color="danger">
  <i p-icon class="material-icons">done</i>
  Rupee
</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>

  <p-radio name="outline" outline="true" shape="round" color="primary">
      <i p-icon class="material-icons">done</i>
      Dollar
  </p-radio>

  <p-radio name="outline" outline="true" shape="round" color="success">
    <i p-icon class="material-icons">done</i>
    Euro
  </p-radio>

  <p-radio name="outline" outline="true" shape="round" color="info">
    <i p-icon class="material-icons">done</i>
    Dinar
  </p-radio>

  <p-radio name="outline" outline="true" shape="round" color="warning">
    <i p-icon class="material-icons">done</i>
    Pound
  </p-radio>

  <p-radio name="outline" outline="true" shape="round" color="danger">
    <i p-icon class="material-icons">done</i>
    Rupee
  </p-radio>

</p-radio-group>

      </textarea>
    </div>

  </div>

</div>
