<h4 class="content__header">Plain</h4>

<div class="content__body">

  <!-- Favorite -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="warning" outline="true" plain="true" animation="smooth">
        <i p-icon class="material-icons">star_rate</i>
        Favorite
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="warning" outline="true" plain="true" animation="smooth">
  <i p-icon class="material-icons">star_rate</i>
  Favorite
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Add -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="success" outline="true" plain="true" animation="smooth">
        Add
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="success" outline="true" plain="true" animation="smooth">
    Add
</p-checkbox>
          </textarea>
    </div>

  </div>

</div>