<h4 class="content__header">Colors</h4>

<div class="content__body">

  <!-- Primary -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="primary">
        Primary
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="primary">
  Primary
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="success">
        Success
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="success">
  Success
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="info">
          Info
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="info">
  Info
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Warning -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="warning">
          Warning
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="warning">
  Warning
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Danger -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="danger">
          Danger
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger">
  Danger
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>

<app-mixed-color></app-mixed-color>

<app-outline-color></app-outline-color>

<app-square-fill-color></app-square-fill-color>

<app-square-fill-outline-color></app-square-fill-outline-color>

<app-square-thick-color></app-square-thick-color>

<app-square-thick-outline-color></app-square-thick-outline-color>

<app-curve-color></app-curve-color>

<app-curve-outline-color></app-curve-outline-color>

<app-curve-fill-color></app-curve-fill-color>

<app-curve-fill-outline-color></app-curve-fill-outline-color>

<app-curve-thick-color></app-curve-thick-color>

<app-curve-thick-outline-color></app-curve-thick-outline-color>

<app-round-color></app-round-color>

<app-round-outline-color></app-round-outline-color>

<app-round-fill-color></app-round-fill-color>

<app-round-fill-outline-color></app-round-fill-outline-color>

<app-round-thick-color></app-round-thick-color>

<app-round-thick-outline-color></app-round-thick-outline-color>

<app-switch-color></app-switch-color>


<h5 class="content__header--secondary">Run-Time change</h5>

<div class="content__body">

  <!-- run-time -->
  <div class="content__row">

    <div class="content__demo flex__column">
      
      <div class="content__demo--action">
        <span class="content__demo--action-text">Color:</span>
        <select [(ngModel)]="color">
          <option value="primary">Primary</option>
          <option value="success">Success</option>
          <option value="info">Info</option>
          <option value="warning">Warning</option>
          <option value="danger">Danger</option>
        </select>
      </div>

      <p-checkbox will-change [color]="color">
          Run-time changeable
      </p-checkbox>
      
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox will-change [color]="color">
    Label text
</p-checkbox>
          </textarea>

          <textarea highlight-js [options]="{}" lang="typescript">
@Component({ ... })
export class ... {
  color: PrettyCheckboxColor;
}
          </textarea>
    </div>

  </div>

</div>