<h4 class="content__header">Colors</h4>

<div class="content__body">

  <!-- Primary -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="primary">
        Primary
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="primary">
  Primary
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="success">
        Success
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="success">
  Success
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="info">
          Info
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="info">
  Info
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Warning -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="warning">
          Warning
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="warning">
  Warning
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Danger -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="danger">
          Danger
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger">
  Danger
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>

<!-- mixed with checkbox -->
<h5 class="content__header--secondary">Mixed with Checkbox</h5>

<div class="content__body">

  <!-- Primary and Fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="primary" stroke="fill">
        Fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="primary" stroke="fill">
  Fill
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success and Thick -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="success" stroke="thick">
        Thick
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="success" stroke="thick">
  Thick
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info and Curve -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="info" shape="curve">
          Curve
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="info" shape="curve">
  Curve
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Warning and Round -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="warning" shape="round">
          Round
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="warning" shape="round">
  Round
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Danger and Round and Fill -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="danger" shape="round" stroke="fill">
          Round and fill
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger" shape="round" stroke="fill">
  Round and fill
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>

<!-- mixed with switch -->
<h5 class="content__header--secondary">Mixed with Switch</h5>

<div class="content__body">

  <!-- Primary and Default -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true" color="primary">
        Default
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="primary">
  Default
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success and Fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true"  color="success" stroke="fill">
        Fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="success" stroke="fill">
  Fill
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Danger and Slim -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox isSwitch="true" color="danger" stroke="slim">
          Slim
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="danger" stroke="slim">
  Slim
</p-checkbox>
          </textarea>
    </div>

  </div>

</div>


<h5 class="content__header--secondary">Run-Time change</h5>

<div class="content__body">

  <!-- run-time -->
  <div class="content__row">

    <div class="content__demo flex__column">
      
      <div class="content__demo--action">
        <span class="content__demo--action-text">Stroke:</span>
        <select [(ngModel)]="color">
          <option value="primary">Primary</option>
          <option value="success">Success</option>
          <option value="info">Info</option>
          <option value="warning">Warning</option>
          <option value="danger">Danger</option>
        </select>
      </div>

      <p-checkbox will-change [color]="color">
          Run-time changeable
      </p-checkbox>
      
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox will-change [stroke]="stroke">
    Label text
</p-checkbox>
          </textarea>

          <textarea highlight-js [options]="{}" lang="typescript">
@Component({ ... })
export class ... {
  color: PrettyCheckboxColor;
}
          </textarea>
    </div>

  </div>

</div>