<h4 class="content__header">Radio : Switch</h4>

<div class="content__body">

  <!-- Color -->
  <div class="content__row">

    <div class="content__demo">

          <p-radio isSwitch="true" name="switch" color="primary">Summer</p-radio>

          <p-radio isSwitch="true" name="switch" stroke="fill" color="success">Winter</p-radio>

          <p-radio isSwitch="true" name="switch" stroke="slim" color="info">Fall</p-radio>

    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio isSwitch="true" name="switch" color="primary">Summer</p-radio>

<p-radio isSwitch="true" name="switch" stroke="fill" color="success">Winter</p-radio>

<p-radio isSwitch="true" name="switch" stroke="slim" color="info">Fall</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>

  <p-radio isSwitch="true" name="switch" color="primary">Summer</p-radio>

  <p-radio isSwitch="true" name="switch" stroke="fill" color="success">Winter</p-radio>

  <p-radio isSwitch="true" name="switch" stroke="slim" color="info">Fall</p-radio>

</p-radio-group>

      </textarea>
    </div>

  </div>

</div>
