<h4 class="content__header">API - Radio group</h4>

<div class="content__body">

  <div class="content__row flex__column">
    <h5 class="content__sub-header">NgxPrettyRadioGroupDirective</h5>
    <span class="content__text">selector: <span class="code__highlight">ngx-pretty-radio-group, p-radio-group</span></span>
    <span class="content__text">exportAs: <span class="code__highlight">ngxRadioGroup</span></span>
    
    <span class="content__text--header">Properties</span>

    <table class="content__table">
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>

      <!-- CHANGE -->
      <tr>
        <td>
          <p class="table__text">@Output()</p>
          <p class="table__text">change: EventEmitter&lt;PrettyRadioChange&gt;</p>
        </td>

        <td>
            <p class="table__description">
              <!-- Whether the first option should be highlighted when the autocomplete panel is opened. Can be configured globally through the
              <span class="table__text--code">MAT_AUTOCOMPLETE_DEFAULT_OPTIONS</span> token. -->
            </p>
        </td>
      </tr>




    </table>
    
  </div>
</div>
