<h4 class="content__header">Checkbox : Image</h4>

<div class="content__body">

  <!-- Agree -->
  <div class="content__row">
    <div class="content__demo">
      <p-checkbox plain="true">
        <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/001.png" p-image>
        Agree
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
  <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/001.png" p-image>
  Agree
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Subscribe -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox plain="true">
        <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/002.png" p-image>
        Subscribe
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
  <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/002.png" p-image>
  Subscribe
</p-checkbox>
        </textarea>
    </div>

  </div>


  <!-- Cancel -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox plain="true">
          <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/003.png" p-image>
            Cancel
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
  <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/003.png" p-image>
  Cancel
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Yes -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox plain="true">
          <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/004.png" p-image>
          Yes
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
  <img src="https://lokesh-coder.github.io/pretty-checkbox/img/checked/004.png" p-image>
  Yes
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>
