<h5 class="content__header--secondary">Checkbox : Mixed (Round)</h5>


<div class="content__body">

  <!-- Primary -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox  shape="round" color="primary">
        Primary
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox  shape="round" color="primary">
  Primary
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox  shape="round" color="success">
        Success
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox  shape="round" color="success">
  Success
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox  shape="round" color="info">
          Info
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox  shape="round" color="info">
  Info
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Warning -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox  shape="round" color="warning">
          Warning
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox  shape="round" color="warning">
  Warning
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Danger -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox  shape="round" color="danger">
          Danger
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox  shape="round" color="danger">
  Danger
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>
