<h4 class="content__header">Rotate</h4>

<div class="content__body">


  <!-- Good -->
  <div class="content__row">

      <div class="content__demo">
        <p-checkbox shape="curve" color="success" animation="rotate">
          <i p-icon class="material-icons">done</i>
          Good
        </p-checkbox>
      </div>
  
      <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve" color="success" animation="rotate">
  <i p-icon class="material-icons">done</i>
  Good
</p-checkbox>
            </textarea>
      </div>
  
    </div>
  

  <!-- Cancel -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="danger" outline="true" animation="rotate">
        <i p-icon class="material-icons">clear</i>
        Cancel
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger" outline="true" animation="rotate">
  <i p-icon class="material-icons">clear</i>
  Cancel
</p-checkbox>
            </textarea>
    </div>

  </div>
  


</div>