<h4 class="content__header">Tada</h4>

<div class="content__body">


  <!-- Good -->
  <div class="content__row">

      <div class="content__demo">
        <p-checkbox shape="round" color="info" outline="true" animation="tada">
          <i p-icon class="material-icons">favorite</i>
          Good
        </p-checkbox>
      </div>
  
      <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="info" outline="true" animation="tada">
  <i p-icon class="material-icons">favorite</i>
  Good
</p-checkbox>
            </textarea>
      </div>
  
    </div>
  

  <!-- Money -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox animation="tada" plain="true">
        <i p-icon class="material-icons">attach_money</i>
        Money
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox animation="tada" plain="true">
  <i p-icon class="material-icons">attach_money</i>
  Money
</p-checkbox>
            </textarea>
    </div>

  </div>
  

  <!-- Lock -->
  <div class="content__row">

      <div class="content__demo">
        <p-checkbox shape="curve" color="danger" animation="tada">
          <i p-icon class="material-icons">https</i>
          Lock
        </p-checkbox>
      </div>
  
      <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve" color="danger" animation="tada">
  <i p-icon class="material-icons">https</i>
  Lock
</p-checkbox>
              </textarea>
      </div>
  
    </div>
  

</div>