<h1>Checkbox Demo</h1>

<!------------------------------- 1-1 BASIC ------------------------------->
<h3> 1-1 Basic</h3>
<div class="row">

    <p-checkbox>Default</p-checkbox>
    <p-checkbox stroke="fill">Fill</p-checkbox>
    <p-checkbox stroke="thick">Thick</p-checkbox>

</div>


<!------------------------------- 1-2 BASIC DYNAMIC ------------------------------->
<h3> 1-2 Basic Runtime</h3>
<div class="row">

    <select [(ngModel)]="stroke1_2">
        <option>Default</option>
        <option value="fill">Fill</option>
        <option value="thick">Thick</option>
        <option value="slim">Slim</option>
    </select>

    <p-checkbox will-change [stroke]="stroke1_2">Label</p-checkbox>

</div>


<!------------------------------- 2-1 SWITCH ------------------------------->
<h3> 2-1 Switch</h3>
<div class="row">

    <p-checkbox isSwitch="true">Default</p-checkbox>
    <p-checkbox isSwitch="true" stroke="fill">Fill</p-checkbox>
    <p-checkbox isSwitch="true" stroke="slim">Slim</p-checkbox>

</div>


<!------------------------------- 2-2 SWITCH ------------------------------->
<h3> 2-1 Switch Runtime</h3>
<div class="row">

    <div>
        <input id="id-is-switch2_2" type="checkbox" [(ngModel)]="isSwitch2_2" />
        <label for="id-is-switch2_2">Is Switch</label>
    </div>

    <select [(ngModel)]="stroke2_2">
        <option>Default - Outline</option>
        <option value="fill">Fill</option>
        <option value="slim">Slim</option>
    </select>

    <p-checkbox will-change [isSwitch]="isSwitch2_2" [stroke]="stroke2_2">Label</p-checkbox>

</div>


<!------------------------------- 3-1 Mixed (Color) ------------------------------->
<h3> 3-1 Mixed (Color)</h3>
<div class="row">

    <p-checkbox isSwitch="true" color="primary">Default</p-checkbox>
    <p-checkbox isSwitch="true" color="success" stroke="fill">Fill</p-checkbox>
    <p-checkbox isSwitch="true" color="warning" stroke="slim">Slim</p-checkbox>

</div>
