<h1>Checkbox Demo</h1>

<!------------------------------- STATELESS ------------------------------->
<h3> Stateless</h3>
<div class="row row--column">
    <p-checkbox [stateless]="true" [checked]="statelessValue" (change)="onStatelessInputChange($event)">Default</p-checkbox>
    <p-checkbox will-change [stateless]="true" [checked]="statelessValue" (change)="onStatelessInputChange($event)">Default</p-checkbox>
    <p>CHECKED: {{statelessValue}}</p>
    <button (click)="statelessValue = !statelessValue">TOGGLE</button>
</div>

<!------------------------------- BASIC ------------------------------->
<h3> Basic</h3>
<div class="row">

    <p-checkbox>Default</p-checkbox>
    <p-checkbox stroke="fill">Fill</p-checkbox>
    <p-checkbox stroke="thick">Thick</p-checkbox>

</div>


<!------------------------------- BASIC DYNAMIC ------------------------------->
<h3> Basic Runtime</h3>
<div class="row">

    <select [(ngModel)]="stroke1_2">
        <option>Default</option>
        <option value="fill">Fill</option>
        <option value="thick">Thick</option>
        <option value="slim">Slim</option>
    </select>

    <p-checkbox will-change [stroke]="stroke1_2">Label</p-checkbox>

</div>


<!------------------------------- SWITCH ------------------------------->
<h3> Switch</h3>
<div class="row">

    <p-checkbox isSwitch="true">Default</p-checkbox>
    <p-checkbox isSwitch="true" stroke="fill">Fill</p-checkbox>
    <p-checkbox isSwitch="true" stroke="slim">Slim</p-checkbox>

</div>


<!------------------------------- SWITCH DYNAMIC ------------------------------->
<h3> Switch Runtime</h3>
<div class="row">

    <div>
        <input id="id-is-switch2_2" type="checkbox" [(ngModel)]="isSwitch2_2" />
        <label for="id-is-switch2_2">Is Switch</label>
    </div>

    <select [(ngModel)]="stroke2_2">
        <option>Default - Outline</option>
        <option value="fill">Fill</option>
        <option value="slim">Slim</option>
    </select>

    <p-checkbox will-change [isSwitch]="isSwitch2_2" [stroke]="stroke2_2">Label</p-checkbox>

</div>


<!------------------------------- Mixed (Color) ------------------------------->
<h3> Mixed (Color)</h3>
<div class="row">

    <p-checkbox isSwitch="true" color="primary">Default</p-checkbox>
    <p-checkbox isSwitch="true" color="success" stroke="fill">Fill</p-checkbox>
    <p-checkbox isSwitch="true" color="warning" stroke="slim">Slim</p-checkbox>

</div>
