<h4 class="content__header">Checkbox : Animation (Jelly)</h4>

<div class="content__body">


  <!-- Interested -->
  <div class="content__row">

      <div class="content__demo">
        <p-checkbox shape="round" color="info" animation="jelly">
          <i p-icon class="material-icons">done</i>
          Interested
        </p-checkbox>
      </div>

      <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="info" animation="jelly">
  <i p-icon class="material-icons">done</i>
  Interested
</p-checkbox>
            </textarea>
      </div>

    </div>


  <!-- All -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox animation="jelly">
        <i p-icon class="material-icons">done_all</i>
        All
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox animation="jelly">
  <i p-icon class="material-icons">done_all</i>
  All
</p-checkbox>
            </textarea>
    </div>

  </div>


  <!-- Bug -->
  <div class="content__row">

      <div class="content__demo">
        <p-checkbox shape="curve" color="danger" animation="jelly">
          <i p-icon class="material-icons">bug_report</i>
          Bug
        </p-checkbox>
      </div>

      <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve" color="danger" animation="jelly">
  <i p-icon class="material-icons">bug_report</i>
  Bug
</p-checkbox>
              </textarea>
      </div>

    </div>


</div>
