<h4 class="content__header">Basic Radio Button</h4>

<div class="content__body">

  <!-- Default -->
  <div class="content__row">

    <div class="content__demo">

          <p-radio name="basic">Male</p-radio>

          <p-radio name="basic">Female</p-radio>
    
          <p-radio name="basic">Special</p-radio>

    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio name="basic">Male</p-radio>

<p-radio name="basic">Female</p-radio>

<p-radio name="basic">Special</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>
                
  <p-radio>Male</p-radio>
              
  <p-radio>Female</p-radio>
              
  <p-radio>Special</p-radio>
              
</p-radio-group>
              
      </textarea>
    </div>

  </div>

</div>