
:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 1.4rem;
  font-weight: 500;

  background-color: #039BE5;
  color: #fafafa;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  width: 100%;
  height: 1px;

  display: flex;
}

.side-nav {
  width: 200px;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: #f7f7f7;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.side-nav__scroll {
  overflow: auto;
}

.side-nav__header {
  padding: 15px 0px 10px 15px;

  font-weight: 600;
  font-size: 0.95rem;
}
.side-nav__header--item {
  cursor: pointer;
}
.side-nav__header--item:hover {
  background-color: #e0e0e0;
}

.side-nav__header:not(:first-child) {
  border-top: 1px solid #ccc;
}

.side-nav__item, .side-nav__sub-item  {
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  cursor: pointer;
}

.side-nav__item:hover, .side-nav__sub-item:hover {
  background-color: #e0e0e0;
}
.side-nav__item {
  padding: 12px 12px 12px 30px;
}
.side-nav__sub-item {
  padding: 12px 12px 12px 60px;
  font-size: 0.9em;
}

.side-nav__accordion {
  height: 0px;
  /* max-height: 0px; */
  overflow: hidden;
  transition: height 0.3s, maxHeight 0.3s;
}

.side-nav__accordion-icon {
  margin-left: auto;
  color: #777;
}

.container {
  flex: 1;
  overflow: auto;
}