<div class="header">
  ngx-pretty-checkbox
</div>




<div class="content">
  
  <div class="side-nav">
  
    <div class="side-nav__header">Install</div>
    <div class="side-nav__item">Sub-install</div>
    
    <div class="side-nav__header side-nav__header--item" (click)="goToDemo()">Demos</div>
    <div class="side-nav__item" (click)="goToDemo(DemoRouteName.BasicCheckbox)">Basic Checkbox</div>
    <div class="side-nav__item" (click)="goToDemo(DemoRouteName.Switch)">Switch</div>
    <div class="side-nav__item" (click)="goToDemo(DemoRouteName.Colors)">Colors</div>
    <div class="side-nav__item" (click)="goToDemo(DemoRouteName.FontIcons)">Font Icons</div>
    <div class="side-nav__item" (click)="goToDemo(DemoRouteName.Svg)">Svg</div>
    
    <div class="side-nav__header">API</div>
    <div class="side-nav__item" (click)="goToApi(ApiRouteName.Checkbox)">Checkbox</div>
    <div class="side-nav__item" (click)="goToApi(ApiRouteName.Interfaces)">Interfaces</div>
    <div class="side-nav__item" (click)="goToApi(ApiRouteName.Enums)">Enums</div>
  
  </div>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>  

