<div class="header">
  ngx-pretty-checkbox
</div>




<div class="content">

  <div class="side-nav">
    <div class="side-nav__scroll">


        <!-- Install -->
        <div class="side-nav__header side-nav__header--item" (click)="toggleInstallAccording()">
            Install
          <i *ngIf="!isAccordingInstallOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
          <i *ngIf="isAccordingInstallOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
        </div>

        <div #installAccordingElem
          class="side-nav__accordion"
          (transitionend)="onTransitionEnd(isAccordingInstallOpen, installAccordingElem)">

            <a class="side-nav__item" routerLinkActive="active-link" [routerLink]="RoutePath.InstallLib">Install library</a>
            <a class="side-nav__item" routerLinkActive="active-link" [routerLink]="RoutePath.InstallScssCustomize">SCSS Customized</a>
        </div>



        <!-- DEMO CHECKBOX -->
        <a class="side-nav__header side-nav__header--item" [routerLink]="RoutePath.DemoCheckbox" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" (click)="onDemosCheckboxClick()">
          Demos Checkbox
          <i *ngIf="!isAccordingDemoCheckboxOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
          <i *ngIf="isAccordingDemoCheckboxOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
        </a>

        <div #demoCheckboxAccordingElem
          class="side-nav__accordion"
          (transitionend)="onTransitionEnd(isAccordingDemoCheckboxOpen, demoCheckboxAccordingElem)">

          <a class="side-nav__item" routerLinkActive="active-link" [routerLink]="RoutePath.DemoCheckboxAll">All Feature</a>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Basic)">Basic</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Switch)">Switch</div>

          <div class="side-nav__item" (click)="  toggleDemoCheckboxMixedAccording()">
            Mixed
            <i *ngIf="!isAccordingDemoCheckboxMixedOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
            <i *ngIf="isAccordingDemoCheckboxMixedOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
          </div>
          <div #demoCheckboxMixedAccordingElem
            class="side-nav__accordion"
            (transitionend)="onTransitionEnd(isAccordingDemoCheckboxMixedOpen, demoCheckboxMixedAccordingElem)">

              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedColor)">Color</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedOutline)">Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedSquareFill)">Square Fill</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedSquareFillOutline)">Square Fill Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedSquareThick)">Square Thick</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedSquareThickOutline)">Square Thick Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurve)">Curve</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurveOutline)">Curve Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurveFill)">Curve Fill</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurveFillOutline)">Curve Fill Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurveThick)">Curve Thick</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedCurveThickOutline)">Curve Thick Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRound)">Round</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRoundOutline)">Round Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRoundFill)">Round Fill</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRoundFillOutline)">Round Fill Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRoundThick)">Round Thick</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedRoundThickOutline)">Round Thick Outline</div>
              <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.MixedSwitch)">Switch</div>
          </div>

          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Colors)">Colors</div>

          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.FontIcons)">Font Icons</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Svg)">Svg</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Image)">Image</div>

          <div class="side-nav__item" (click)="onDemoCheckboxAnimationClick()">
              Animations
              <i *ngIf="!isAccordingDemoCheckboxAnimationOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
              <i *ngIf="isAccordingDemoCheckboxAnimationOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
            </div>
            <div #demoCheckboxAnimationAccordingElem
              class="side-nav__accordion"
              (transitionend)="onTransitionEnd(isAccordingDemoCheckboxAnimationOpen, demoCheckboxAnimationAccordingElem)">

                <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.AnimationSmooth)">Smooth</div>
                <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.AnimationJelly)">Jelly</div>
                <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.AnimationTada)">Tada</div>
                <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.AnimationRotate)">Rotate</div>
                <div class="side-nav__sub-item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.AnimationPulse)">Pulse</div>

            </div>


          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Plain)">Plain</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Disable)">Disable</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Lock)">Lock</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Size)">Size</div>


          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Toggle)">Toggle</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Scalability)">Scalability</div>
          <div class="side-nav__item" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.States)">States</div>

        </div>


        <!-- Demo Radio -->

        <div class="side-nav__header side-nav__header--item" (click)="onDemoRadioClick()">
            Demo Radio
            <i *ngIf="!isAccordingDemoRadioOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
            <i *ngIf="isAccordingDemoRadioOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
          </div>
          <div #demoRadioAccordingElem
            class="side-nav__accordion"
            (transitionend)="onTransitionEnd(isAccordingDemoRadioOpen, demoRadioAccordingElem)">

              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.All)">All Feature</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.Basic)">Basic</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.Animations)">Animations</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.Color)">Color</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.ColorIcon)">Color and Icon</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.ColorOutlineIcon)">Outline and icon</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.Plain)">Plain</div>
              <div class="side-nav__item" (click)="goToDemoRadio(DemoRadioRouteName.Switch)">Switch</div>

          </div>

        <!-- API -->

        <div class="side-nav__header side-nav__header--item" (click)="toggleApiAccording()">
            API
          <i *ngIf="!isAccordingApiOpen" class="side-nav__accordion-icon material-icons">arrow_drop_down</i>
          <i *ngIf="isAccordingApiOpen" class="side-nav__accordion-icon material-icons">arrow_drop_up</i>
        </div>

        <div #apiAccordingElem
          class="side-nav__accordion"
          (transitionend)="onTransitionEnd(isAccordingApiOpen, apiAccordingElem)">

          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Checkbox)">Checkbox</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.CheckboxWillChange)">Checkbox will-change</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.RadioGroup)">Radio Group</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Radio)">Radio</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.RadioWillChange)">Radio will-change</div>

          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Toggle)">Toggle</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.ToggleWillChange)">Toggle will-change</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Hover)">Hover</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.HoverWillChange)">Hover will-change</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Indeterminate)">Indeterminate</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.IndeterminateWillChange)">Indeterminate will-change</div>

          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Interfaces)">Interfaces</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Enums)">Enums</div>

          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Svg)">Svg</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Image)">Image</div>
          <div class="side-nav__item" (click)="goToApi(ApiRouteName.Icon)">Icon</div>

        </div>



    </div>
  </div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</div>

