<!-- All Feature -->
<app-card title="All Feature" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.All)">
  All feature together and change it run time
</app-card>


<!-- Basic checkbox -->
<app-card title="Basic checkbox" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Basic)">
    These are simple checkboxes with three shape
</app-card>


<!-- Switch -->
<app-card title="Switch" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Switch)">
  IOS style
</app-card>


<!-- Colors -->
<app-card title="Colors" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Colors)">
    There are five colors
    <br>
    <span class="color-preview primary"></span>
    <span class="color-preview success"></span>
    <span class="color-preview warning"></span>
    <span class="color-preview info"></span>
    <span class="color-preview danger"></span>
</app-card>


<!-- Font icons -->
<app-card title="Font icons" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.FontIcons)">
    You can add any font icons to replace basic checkbox styles
</app-card>


<!-- Svg -->
<app-card title="Svg" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Svg)">
    Adding svg icon is very similar to adding font icons
</app-card>


<!-- Image -->
<app-card title="Image" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Image)">
    Adding image is also similar approach like above
</app-card>


<!-- Animations -->
<app-card title="Animations"  (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Animations)">
  There are five pure css animation
</app-card>


<!-- Plain -->
<app-card title="Plain" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Plain)">
    To remove the border (when checkbox is checked)
</app-card>


<!-- Toggle -->
<app-card title="Toggle" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Toggle)">
    Toggles are simple show / hide type
</app-card>


<!-- States -->
<app-card title="States" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.States)">
    These are checkbox states like hover, focus, indeterminate
</app-card>


<!-- Disable -->
<app-card title="Disable" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Disable)">
  Disables the checkbox
</app-card>


<!-- Lock -->
<app-card title="Lock" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Lock)">
    It is quite similar to disable, but the only difference is, it will lock and make it look like active
</app-card>


<!-- Size -->
<app-card title="Size" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Size)">
    Basically, all the checkbox sized based on the font size. Bigger the font size, bigger the checkbox and radio. Sometimes, you might need to scale it bit bigger
</app-card>


<!-- Scalability -->
<app-card title="Scalability" (click)="goToDemoCheckbox(DemoCheckboxesRouteName.Scalability)">
  All the checkbox sized based on the font size, then just change it
</app-card>

