<h4 class="content__header">Checkbox : Toggle</h4>

<div class="content__body">

    <!-- Simple -->
    <div class="content__row">

        <div class="content__demo">
            <div class="content__demo--title">Simple :</div>
            <p-checkbox shape="curve">
                <p-toggle type="off" color="success">
                    Subscribe
                </p-toggle>
                <p-toggle type="on" color="danger">
                    Subscribed
                </p-toggle>
            </p-checkbox>
        </div>

        <div class="content__code">
            <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve">
    <p-toggle type="on" color="warning">
        Subscribe
    </p-toggle>
    <p-toggle type="off" color="danger">
        Subscribed
    </p-toggle>
</p-checkbox>
          </textarea>
        </div>

    </div>


    <!-- With Icon -->
    <div class="content__row">

        <div class="content__demo">
            <div class="content__demo--title">With Icon :</div>
            <p-checkbox>
                <p-toggle type="on">
                    <i p-icon class="material-icons">mic</i>
                    On
                </p-toggle>
                <p-toggle type="off">
                    <i p-icon class="material-icons">mic_off</i>
                    Off
                </p-toggle>
            </p-checkbox>
        </div>

        <div class="content__code">
            <textarea highlight-js [options]="{}" lang="html">
<p-checkbox>
    <p-toggle type="on">
        <i p-icon class="material-icons">mic</i>
        On
    </p-toggle>
    <p-toggle type="off">
        <i p-icon class="material-icons">mic_off</i>
        Off
    </p-toggle>
</p-checkbox>
          </textarea>
        </div>

    </div>


    <!-- Without border -->
    <div class="content__row">

            <div class="content__demo">
                <div class="content__demo--title">Without border :</div>
                <p-checkbox plain="true">
                    <p-toggle type="on">
                        <i p-icon class="material-icons">wifi</i>
                        Wifi On
                    </p-toggle>
                    <p-toggle type="off">
                        <i p-icon class="material-icons">wifi_off</i>
                        Wifi Off
                    </p-toggle>
                </p-checkbox>
            </div>

            <div class="content__code">
                <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
    <p-toggle type="on">
        <i p-icon class="material-icons">wifi</i>
        Wifi On
    </p-toggle>
    <p-toggle type="off">
        <i p-icon class="material-icons">wifi_off</i>
        Wifi Off
    </p-toggle>
</p-checkbox>
              </textarea>
            </div>

    </div>



    <!-- With color -->
    <div class="content__row">

            <div class="content__demo">
                <div class="content__demo--title">With color :</div>
                <p-checkbox plain="true">
                    <p-toggle type="on" color="success" outline="true">
                        <i p-icon class="material-icons">thumb_up</i>
                        Good
                    </p-toggle>
                    <p-toggle type="off" color="danger" outline="true">
                        <i p-icon class="material-icons">thumb_down</i>
                        Bad
                    </p-toggle>
                </p-checkbox>
            </div>

            <div class="content__code">
                <textarea highlight-js [options]="{}" lang="html">
<p-checkbox plain="true">
    <p-toggle type="on" color="success" outline="true">
        <i p-icon class="material-icons">thumb_up</i>
        Good
    </p-toggle>
    <p-toggle type="off" color="danger" outline="true">
        <i p-icon class="material-icons">thumb_down</i>
        Bad
    </p-toggle>
</p-checkbox>
              </textarea>
            </div>

    </div>


    <!-- Without label -->
    <div class="content__row">

            <div class="content__demo">
                <div class="content__demo--title">Without label :</div>
                <p-checkbox>
                    <p-toggle type="on" color="success" outline="true">
                        <i p-icon class="material-icons">redo</i>
                    </p-toggle>
                    <p-toggle type="off">
                        <i p-icon class="material-icons">undo</i>
                    </p-toggle>
                </p-checkbox>
            </div>

            <div class="content__code">
                <textarea highlight-js [options]="{}" lang="html">
<p-checkbox>
    <p-toggle type="on" color="success" outline="true">
        <i p-icon class="material-icons">redo</i>
    </p-toggle>
    <p-toggle type="off">
        <i p-icon class="material-icons">undo</i>
    </p-toggle>
</p-checkbox>
              </textarea>
            </div>

        </div>


</div>
