
<!-- Basic checkbox -->
<app-card title="Basic checkbox" (click)="goToDemo(DemoRouteName.BasicCheckbox)">
    These are simple checkboxes with three shape
</app-card>


<!-- Switch -->
<app-card title="Switch" (click)="goToDemo(DemoRouteName.Switch)">
    TODO: write description
</app-card>


<!-- Colors -->
<app-card title="Colors" (click)="goToDemo(DemoRouteName.Colors)">
    There are five colors
</app-card>


<!-- Font icons -->
<app-card title="Font icons">
    You can add any font icons to replace basic checkbox styles
</app-card>


<!-- Svg -->
<app-card title="Svg">
    Adding svg icon is very similar to adding font icons
</app-card>


<!-- Image -->
<app-card title="Image">
    Adding image is also similar approach like above
</app-card>


<!-- Animations -->
<app-card title="Animations">
    TODO: write description
</app-card>


<!-- Plain -->
<app-card title="Plain">
    To remove the border ( when checkbox is checked ) 
</app-card>


<!-- Toggle -->
<app-card title="Toggle">
    Toggles are simple show / hide type.
</app-card>


<!-- States -->
<app-card title="States">
    These are checkbox and radio button states like hover, focus, indeterminate.
</app-card>


<!-- Disable-->
<app-card title="Disable">
    TODO: write description
</app-card>


<!-- Lock-->
<app-card title="Lock">
    It is quite similar to disable, but the only difference is, it will lock and make it look like active
</app-card>


<!-- Size-->
<app-card title="Size">
    Basically, all the checkbox and radio buttons are sized based on the font size. Bigger the font size, bigger the checkbox and radio. Sometimes, you might need to scale it bit bigger.
</app-card>


