<h4 class="content__header">Radio : Colors</h4>

<div class="content__body">

  <!-- Color -->
  <div class="content__row">

    <div class="content__demo content__demo--justify-start">

          <p-radio class="content__demo--radio" name="color" shape="curve" color="primary">Primary</p-radio>
          <p-radio class="content__demo--radio" name="color" shape="curve" color="success">Success</p-radio>
          <p-radio class="content__demo--radio" name="color" shape="curve" color="info">Info</p-radio>
          <p-radio class="content__demo--radio" name="color" shape="curve" color="warning">Warning</p-radio>
          <p-radio class="content__demo--radio" name="color" shape="curve" color="danger">Danger</p-radio>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio name="color" shape="curve" color="primary">Primary</p-radio>

<p-radio name="color" shape="curve" color="success">Success</p-radio>

<p-radio name="color" shape="curve" color="info">Info</p-radio>

<p-radio name="color" shape="curve" color="warning">Warning</p-radio>

<p-radio name="color" shape="curve" color="danger">Danger</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>

  <p-radio name="color" shape="curve" color="primary">Primary</p-radio>

  <p-radio name="color" shape="curve" color="success">Success</p-radio>

  <p-radio name="color" shape="curve" color="info">Info</p-radio>

  <p-radio name="color" shape="curve" color="warning">Warning</p-radio>

  <p-radio name="color" shape="curve" color="danger">Danger</p-radio>

</p-radio-group>

      </textarea>
    </div>

  </div>

</div>
