<h5 class="content__header--secondary">Mixed: Color</h5>

<div class="content__body">

  <!-- Primary and Fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="primary" stroke="fill">
        Fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="primary" stroke="fill">
  Fill
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success and Thick -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="success" stroke="thick">
        Thick
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="success" stroke="thick">
  Thick
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info and Curve -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="info" shape="curve">
          Curve
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="info" shape="curve">
  Curve
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Warning and Round -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="warning" shape="round">
          Round
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="warning" shape="round">
  Round
</p-checkbox>
          </textarea>
    </div>

  </div>
  

  <!-- Danger and Round and Fill -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="danger" shape="round" stroke="fill">
          Round and fill
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger" shape="round" stroke="fill">
  Round and fill
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>