/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/tomorrow.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/color-brewer.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/vs.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-light.min.css");

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #eee;
  color: #444;
  font-size: 1rem;
}

h5 {
  font-weight: 400;
}

select {
  font-size: 0.85rem;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  line-height: 1;
  outline: none;
  color: #666;
  border-color: #aaa;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background: linear-gradient(#aaa, #aaa) no-repeat, linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(#aaa, #aaa) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:focus {
  outline: none;
}

.hidden-option {
  display: none;
}

.flex__column {
  display: flex;
  flex-direction: column;
}

.flex__align-self--start {
  align-self: flex-start;
}

.content__header {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin: 20px;
}

.content__header--secondary {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin: 20px;
  font-size: 18px;
}

.content__sub-header {
  margin-bottom: 30px;
}

.content__body {
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.content__row {
  display: flex;
  padding: 10px;
}

.content__row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.content__demo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.content__demo--action {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.content__demo--action-text {
  margin-right: 10px;
}

.content__text {
  margin: 10px;
}

.content__text--header {
  font-weight: bold;
  margin: 20px 0px;
}

.content__code {
  flex: 1;
  margin-left: 50px;
}

.code__highlight {
  background: rgba(0, 0, 0, 0.06);
  padding: 3px;
}



.content__table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  color: #666;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.content__table th {
  background: whitesmoke;
  font-weight: 400;
  max-width: 100px;
  padding: 13px 32px;
  text-align: left;
}

.content__table td {
  background-color: #fafafa;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.03);
  width: 200px;
  font-size: 1rem;
}

.table__description {
  color: #333;
  font-weight: 400;
  margin: 5px;
  font-size: 1.1rem;
}

.table__description:not(:first-child) {
  margin: 15px 5px 5px 5px;
}

.table__text {
  margin: 5px;
}

.table__text--code {
  font-weight: 100;
}

.check-icon-style {
  color: #039BE5;
  transform: scale(1.5);
}