/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/tomorrow.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/color-brewer.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/default.min.css"); */
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/vs.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/atom-one-light.min.css");

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #eee;
  color: #444;
  font-size: 1rem;
}

h5 {
  font-weight: 400;
}

select {
  font-size: 0.85rem;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #aaa;
  line-height: 1;
  outline: none;
  color: #666;
  border-color: #aaa;
  padding: 0.65em 2.5em 0.55em 0.75em;
  border-radius: 3px;
  background: linear-gradient(#aaa, #aaa) no-repeat, linear-gradient(-135deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(-225deg, rgba(255,255,255,0) 50%, white 50%) no-repeat, linear-gradient(#aaa, #aaa) no-repeat;
  background-color: white;
  background-size: 1px 100%, 20px 20px, 20px 20px, 20px 60%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:focus {
  outline: none;
}


.flex__column {
  display: flex;
  flex-direction: column;
}

.flex__align-self--start {
  align-self: flex-start;
}

.content__header {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin: 20px;
}

.content__header--secondary {
  border-bottom: 1px solid #ccc;
  padding: 20px 0px;
  margin: 20px;
  font-size: 18px;
}

.content__sub-header {
  margin-bottom: 30px;
}

.content__body {
  margin: 40px;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.content__row {
  display: flex;
  padding: 10px;
}

.content__row:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.content__demo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.content__demo--action {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}

.content__demo--action-text {
  margin-right: 10px;
}

.content__text {
  margin: 10px;
}

.content__text--header {
  font-weight: bold;
  margin: 20px 0px;
}

.content__code {
  flex: 1;
  margin-left: 50px;
  overflow: auto;
}

.code__highlight {
  background: rgba(0, 0, 0, 0.06);
  padding: 3px;
}



.content__table, .content__method {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px;
  width: 100%;
  color: #666;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.content__table th, .content__method--header {
  background: whitesmoke;
  font-weight: 400;
  padding: 13px 32px;
  text-align: left;
}
.content__table th, {
  max-width: 100px;
}

.content__table td, .content__method--description {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.03);
}
.content__method--description {
  padding: 15px 30px;
}
.content__table td {
  padding: 8px 16px;
  font-size: 1rem;
  width: 200px;
}

.table__description, .content__method--description {
  color: #333;
  font-weight: 400;
  font-size: 1.1rem;
}
.table__description {
  margin: 5px;
}

.table__description:not(:first-child) {
  margin: 15px 5px 5px 5px;
}

.table__text {
  margin: 5px;
}

.table__text--code {
  font-weight: 100;
}

.check-icon-style {
  color: #039BE5;
  transform: scale(1.5);
}

.svg-icon-green {
  color: #fff;
  stroke: #fff;
}

.method {

}




/* slider */

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.2px 0;
}

input[type=range].slider:focus {
  outline: none
}

input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0 0 0 transparent,0 0 0 hsla(0,0%,5%,0);
  background: rgba(90,101,107,.32);
  border-radius: 25px;
  border: 1.9px solid transparent
}

input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 0 0 0 #000031,0 0 0 #00004b;
  border: 0 solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 13px;
  background: #e17075;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.1px
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: hsla(201,9%,55%,.32)
}

input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 0 0 0 transparent,0 0 0 hsla(0,0%,5%,0);
  background: rgba(90,101,107,.32);
  border-radius: 25px;
  border: 1.9px solid transparent
}

input[type=range].slider::-moz-range-thumb {
  box-shadow: 0 0 0 #000031,0 0 0 #00004b;
  border: 0 solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 13px;
  background: #e17075;
  cursor: pointer
}

input[type=range].slider::-ms-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent
}

input[type=range].slider::-ms-fill-lower {
  background: rgba(53,59,63,.32)
}

input[type=range].slider::-ms-fill-lower,input[type=range].slider::-ms-fill-upper {
  border: 1.9px solid transparent;
  border-radius: 50px;
  box-shadow: 0 0 0 transparent,0 0 0 hsla(0,0%,5%,0)
}

input[type=range].slider::-ms-fill-upper {
  background: rgba(90,101,107,.32)
}

input[type=range].slider::-ms-thumb {
  box-shadow: 0 0 0 #000031,0 0 0 #00004b;
  border: 0 solid transparent;
  height: 16px;
  width: 16px;
  border-radius: 13px;
  background: #e17075;
  cursor: pointer;
  height: 5.6px
}

input[type=range].slider:focus::-ms-fill-lower {
  background: rgba(90,101,107,.32)
}

input[type=range].slider:focus::-ms-fill-upper {
  background: hsla(201,9%,55%,.32)
}


/* Install */
.install__step {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.install__step--header {
  white-space: pre;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px 10px;
}

.install__step--sub-header {
  font-weight: 500;
  margin: 0px 10px;
}

.install__row {
  display: flex;
}


iframe {
  width: 100%;
  height: 100%;
}