<h4 class="content__header">Smooth</h4>

<div class="content__body">

  <!-- Monday -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="primary" animation="smooth">
        Monday
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="primary" animation="smooth">
    Monday
</p-checkbox>
            </textarea>
    </div>

  </div>


  <!-- Tuesday -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="success" animation="smooth">
        <i p-icon class="material-icons">done</i>
        Tuesday
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="success" animation="smooth">
  <i p-icon class="material-icons">done</i>
  Tuesday
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Wednesday -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="danger" outline="true" animation="smooth">
        <i p-icon class="material-icons">clear</i>
        Wednesday
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger" outline="true" animation="smooth">
  <i p-icon class="material-icons">clear</i>
  Wednesday
</p-checkbox>
              </textarea>
    </div>

  </div>


  <!-- Thursday -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="curve" color="warning" animation="smooth">
          Thursday
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve" color="warning" animation="smooth">
  Thursday
</p-checkbox>
      </textarea>
    </div>

  </div>


  <!-- Friday -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="curve" color="danger" outline="true" animation="smooth">
        Friday
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve" color="danger" outline="true" animation="smooth">
  Friday
</p-checkbox>
      </textarea>
    </div>

  </div>

</div>