<h4 class="content__header">Checkbox : Animation (Pulse)</h4>

<div class="content__body">


  <!-- Allow -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round" color="success" animation="pulse">
        <i p-icon class="material-icons">done</i>
        Allow
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round" color="success" animation="pulse">
  <i p-icon class="material-icons">done</i>
  Allow
</p-checkbox>
            </textarea>
    </div>

  </div>


  <!-- Occasionally -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox stroke="thick" outline="true" color="warning" animation="pulse">
        Occasionally
      </p-checkbox>
    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">
<p-checkbox stroke="thick" outline="true" color="warning" animation="pulse">
  Occasionally
</p-checkbox>
            </textarea>
    </div>

  </div>


</div>
