<h4 class="content__header">Font Icon</h4>

<div class="content__body">

  <!-- Favorite -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="round">
        <i p-icon class="material-icons">favorite</i>
        Favorite
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="round">
  <i p-icon class="material-icons">favorite</i>
  Favorite
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Rss -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox shape="curve">
        <i p-icon class="material-icons">rss_feed</i>
        Rss
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox shape="curve">
  <i p-icon class="material-icons">rss_feed</i>
  Rss
</p-checkbox>
        </textarea>
    </div>

  </div>


  <!-- Error -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox>
            <i p-icon class="material-icons">error_outline</i>
            Error
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox>
  <i p-icon class="material-icons">error_outline</i>
  Error
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>


<!-- 
<h5 class="content__header--secondary">Run-Time change</h5>

<div class="content__body">

  <div class="content__row">

    <div class="content__demo flex__column">
      
      <div class="content__demo--action">
        <span class="content__demo--action-text">Stroke:</span>
        <select [(ngModel)]="stroke">
          <option>Default</option>
          <option value="fill">Fill</option>
          <option value="thick">Thick</option>
          <option value="slim">Slim</option>
        </select>
      </div>

      <p-checkbox will-change [stroke]="stroke">
          Run-time changeable
      </p-checkbox>
      
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox will-change [stroke]="stroke">
    Label text
</p-checkbox>
          </textarea>

          <textarea highlight-js [options]="{}" lang="typescript">
@Component({ ... })
export class ... {
  stroke: PrettyCheckboxStroke;
}
          </textarea>
    </div>

  </div>

</div> -->