<!-- Switch -->
<h5 class="content__header--secondary">Switch</h5>

<div class="content__body">

  <!-- default -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true" color="primary">
        Default
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="primary">
  Default
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true"  color="success" stroke="fill">
        fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="success" stroke="fill">
  fill
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- fill -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox isSwitch="true"  color="info" stroke="fill">
        fill
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="info" stroke="fill">
  fill
</p-checkbox>
          </textarea>
    </div>

  </div>

  
  <!-- slim -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox isSwitch="true" color="warning" stroke="slim">
          slim
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="warning" stroke="slim">
  slim
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- slim -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox isSwitch="true" color="danger" stroke="slim">
          slim
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox isSwitch="true" color="danger" stroke="slim">
  slim
</p-checkbox>
          </textarea>
    </div>

  </div>

</div>