<h4 class="content__header">Radio : Plain</h4>

<div class="content__body">

  <!-- Color -->
  <div class="content__row">

    <div class="content__demo content__demo--justify-start">

          <p-radio class="content__demo--radio" name="plain" plain="true" outline="true" animation="smooth" shape="round" color="primary">
            <i p-icon class="material-icons">accessibility_new</i>
            Single
          </p-radio>

          <p-radio class="content__demo--radio" name="plain" plain="true" outline="true" animation="smooth" shape="round" color="success">
            <i p-icon class="material-icons">wc</i>
            Married
          </p-radio>

          <p-radio class="content__demo--radio" name="plain" plain="true" outline="true" animation="smooth" shape="round" color="danger">
            <i p-icon class="material-icons">favorite</i>
            In relationship
          </p-radio>

    </div>

    <div class="content__code">
      <textarea highlight-js [options]="{}" lang="html">

<p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="primary">
    <i p-icon class="material-icons">accessibility_new</i>
    Single
</p-radio>

<p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="success">
  <i p-icon class="material-icons">wc</i>
  Married
</p-radio>

<p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="danger">
  <i p-icon class="material-icons">favorite</i>
  In relationship
</p-radio>

      </textarea>
      <p>
        Or :
      </p>
      <textarea highlight-js [options]="{}" lang="html">

<p-radio-group>

  <p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="primary">
      <i p-icon class="material-icons">accessibility_new</i>
      Single
  </p-radio>

  <p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="success">
    <i p-icon class="material-icons">wc</i>
    Married
  </p-radio>

  <p-radio name="plain" plain="true" outline="true" animation="smooth" shape="round" color="danger">
    <i p-icon class="material-icons">favorite</i>
    In relationship
  </p-radio>

</p-radio-group>

      </textarea>
    </div>

  </div>

</div>
