<h4 class="content__header">Checkbox : Colors</h4>

<div class="content__body">

  <!-- Primary -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="primary">
        Primary
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="primary">
  Primary
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Success -->
  <div class="content__row">

    <div class="content__demo">
      <p-checkbox color="success">
        Success
      </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="success">
  Success
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Info -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="info">
          Info
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="info">
  Info
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Warning -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="warning">
          Warning
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="warning">
  Warning
</p-checkbox>
          </textarea>
    </div>

  </div>


  <!-- Danger -->
  <div class="content__row">

    <div class="content__demo">
        <p-checkbox color="danger">
          Danger
        </p-checkbox>
    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox color="danger">
  Danger
</p-checkbox>
          </textarea>
    </div>

  </div>


</div>


<h5 class="content__header--secondary">Run-Time change</h5>

<div class="content__body">

  <!-- run-time -->
  <div class="content__row">

    <div class="content__demo flex__column">

      <div class="content__demo--action">
        <span class="content__demo--action-text">Color:</span>
        <select [(ngModel)]="color">
          <option value="primary">Primary</option>
          <option value="success">Success</option>
          <option value="info">Info</option>
          <option value="warning">Warning</option>
          <option value="danger">Danger</option>
        </select>
      </div>

      <p-checkbox will-change [color]="color">
          Run-time changeable
      </p-checkbox>

    </div>

    <div class="content__code">
        <textarea highlight-js [options]="{}" lang="html">
<p-checkbox will-change [color]="color">
    Label text
</p-checkbox>
          </textarea>

          <textarea highlight-js [options]="{}" lang="typescript">
@Component({ ... })
export class ... {
  color: PrettyCheckboxColor;
}
          </textarea>
    </div>

  </div>

</div>
