
<!-- Basic -->
<app-card title="Basic" (click)="goToDemoCheckbox(DemoRadioRouteName.Basic)">
  TODO: write description
</app-card>


<!-- Animations -->
<app-card title="Animations" (click)="goToDemoCheckbox(DemoRadioRouteName.Animations)">
  TODO: write description
</app-card>

<!-- Color -->
<app-card title="Color" (click)="goToDemoCheckbox(DemoRadioRouteName.Color)">
  TODO: write description
</app-card>

<!-- Color Outline Icon -->
<app-card title="Color Outline Icon" (click)="goToDemoCheckbox(DemoRadioRouteName.ColorOutlineIcon)">
  TODO: write description
</app-card>

<!-- Color Icon -->
<app-card title="Color Icon" (click)="goToDemoCheckbox(DemoRadioRouteName.ColorIcon)">
  TODO: write description
</app-card>

<!-- Plain -->
<app-card title="Plain" (click)="goToDemoCheckbox(DemoRadioRouteName.Plain)">
  TODO: write description
</app-card>

<!-- Switch -->
<app-card title="Switch" (click)="goToDemoCheckbox(DemoRadioRouteName.Switch)">
  TODO: write description
</app-card>


<!-- All Feature -->
<app-card title="All Feature" (click)="goToDemoCheckbox(DemoRadioRouteName.All)">
  TODO: write description
</app-card>